@page "/"
@inject NavigationManager NavigationManager
<PageTitle>Home</PageTitle>

<div class="px-4" style="display: flex; flex-direction: column; justify-content: normal; align-items: center; height: 100vh; text-align: center;">
    <h1>Welcome to Vocabel Teller.</h1>
    <br>
    <br />
    <br />
    <NavLink class="nav-link btn btn-primary" href="WeeklyDrill">
        Weekly Drill
    </NavLink>
    <br />
    <br />
    <br />
    <NavLink class="nav-link btn btn-primary" href="ListSetting">
        List Setting
    </NavLink>
</div>




